body {
    margin:0;
    padding:0;
    background-image: url("проект_3.png");
    -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
    background-repeat: repeat;
    background-size: cover;
    text-align: center;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color:beige;

}

header{
    display: flex;
    justify-content: center;
}

.Logo, .Top_menu{
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.Top_menu li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.Top_menu a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:aliceblue;
    text-decoration: none;
    vertical-align: middle;
}

.Top_menu a:hover {
    color: #db2c1f;
}


.Logo h1{
    vertical-align: middle;
    color:aliceblue;
    text-decoration: none;
    vertical-align: middle;
}

.Logo a {
    color:beige;
    text-decoration: none;
    vertical-align: middle;

}


.characters-wrap{
    width: 475px;
    height: 550px;
    margin: 40px auto;
    background: rgba(51, 50, 50, 0.95);
    padding: 15px;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}

.characters{
    position: relative;
    overflow: hidden;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.characters-title a{
    color:beige;
    text-decoration: none;
    vertical-align: middle;
   

}
.characters-title a:hover{


color: rgba(175, 98, 67, 0.95);

}


.tropici{
    max-width: 2560px;
    max-height: fit-content;
    margin: 10px;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: minmax(250px,auto);
    
    grid-gap: 20px;
   
    
    width: 100%;
    
}

.palma a{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin: 0;
}




.palma img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}

.tropici > div{
    background: rgba(51, 50, 50, 0.95);
    color: beige;
    padding: 15px;
    font-family: Georgia, serif;
  
    text-transform: none;
    border-radius: 8px;
    

}

.palma h1 {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:80px;
    background: rgba(51, 50, 50, 0.75)
    z-index:1000;
    display:none

    
}

.palma h1 a{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}

.palma:hover h1{
    display:block;
}

